@import url(https://fonts.googleapis.com/css2?family=Sacramento);

:root {
    --lightest: #EEF5FF;
    --light: #B4D4FF;
    --dark: #86B6F6;
    --darker: #176B87;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--lightest);
    -webkit-text-stroke: 1px black;
    font-family: "Sacramento", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    flex: 1;
    display: flex;
}

.left-panel {
    flex: 1;
    background: center url("../assests/bg-image.jpg") no-repeat;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hover-text {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
    background-color: #176B8760;
}

.left-panel > p {
    margin-top: auto;
    margin-bottom: 0;
}

.logo {
    width: 2rem;
}

.content {
    width: 55%;
    position: relative;
    background: linear-gradient(to bottom, var(--darker), var(--lightest));
}

.content > p:first-child,
.content > p:first-child + p, 
.content > form,
.content > button:first-of-type,
.content > .account-exists {
    left: 4%;
    right: 4%;
    bottom: 4%;
    overflow: auto;
}

.content > p:first-child {
    position: absolute;
    top: 1%;
    left: 5%;
    right: 5%;
}

.content > p:first-child + p {
    position: absolute;
    top: 20%;
}

.content > form {
    position: absolute;
    top: 30%;
    bottom: 25%;
    padding: 0 4% 4% 4%;
    background-color: var(--light);
}

.content > button:first-of-type {
    position: absolute;
    top: 80%;
}

.content > .account-exists {
    position: absolute;
    top: 90%;
}

.form-row {
    display: flex;
    gap: 20%;
}

.form-column {
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=email],
input[type=password] {
    margin: 10px 0;
    padding: 0 10px;
}


input:invalid {
    border: 2px solid palevioletred;
}

input:valid {
    border: 2px solid greenyellow;
}


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  height: 2rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

* {
    border: 1px solid red;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--darker);
}

footer > a {
    display: flex;
}

.git {
    width: 2rem;
    margin: 0.3rem 0;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }
    .left-panel {
        flex: 1;
    }
    .content {
        flex: 4;
        width: 100%;
    }
}